<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello, EJS!</h1>
    <h2>Hi there, <%= user.name %>!</h2>
    <h3>I heard you love <%= user.purple %></h3>
    <h4>I also heard that your favorite food is <%= user.food %></h4>
    <h5><%= user.grade %></h5>

    <% if (user.grade > 2.0) { %>
        <p>You're passing!</p>
        <% } else { %> 
            <p>You need to study harder</p>
    <% } %>

    <% if (user.age > 21) { %>
        <p>You're ready to party!</p>
        <% } else { %> 
        <p>It's past your bedtime</p>
    <% } %>

    <h4>Hobbies</h4>
    <ul>
    <% user.hobbies.forEach(hobby => { %>
        <li><%= hobby %></li>
   <% }) %>
   </ul>

   
    <h4>Classes</h4>
    <ol>
    <% user.classes.forEach(course => { %>
        <li><%= course %></li>
   <% }) %>
    </ol>
</body>
</html>